* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#top_header {
  padding: 1.5em 0;
}
#top_header .logo {
  float: left;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 700;
}
#top_header .logo span {
  font-weight: 300;
  color: #73e298;
}
#top_header #main_nav {
  float: right;
  font-size: .9em;
}
#top_header #main_nav a {
  color: #8b8b9f;
  text-decoration: none;
  margin-left: 1em;
}

.menu {
  display: none;
}

#banner {
  background: url("https://res.cloudinary.com/dw369yzsh/image/upload/v1470916846/banner_background_ez243c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;
}
#banner #banner_content_wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner #poster {
  width: 275px;
  position: relative;
  float: left;
}
#banner #poster .featured_image {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}
#banner #poster .play_button {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}
#banner #content {
  float: left;
  width: 500px;
  margin-left: 100px;
}
#banner #content .title {
  display: inline;
  font-size: 1.75em;
  color: #FFFFFF;
}
#banner #content .ratings {
  display: inline;
  margin-left: 1em;
}
#banner #content .ratings i {
  color: #73e298;
  font-size: 1.35em;
  margin: 0 .15em;
}
#banner #content .ratings .inactive {
  color: #48494d;
}
#banner #content .description {
  color: #bbbebf;
  font-size: 1em;
  line-height: 2;
}
#banner #content .info {
  color: #FFFFFF;
  font-size: .8em;
  font-weight: 700;
  margin-top: 3em;
}
#banner #content .info span {
  margin: 0 .5em;
}

#top_movies, #top_shows {
  padding: 5em 0;
}
#top_movies header, #top_shows header {
  padding: 0 0 1.5em 0;
}
#top_movies header h2, #top_movies header .view_more, #top_shows header h2, #top_shows header .view_more {
  display: inline;
}
#top_movies header h2, #top_shows header h2 {
  font-size: 1.75em;
}
#top_movies header .view_more, #top_shows header .view_more {
  float: right;
  font-size: .8em;
  margin: .75em 3.5% 0 0;
}

#top_movies {
  border-bottom: 1px solid #d4d4d4;
}

.row {
  width: 100%;
}
.row .post {
  width: 14%;
  float: left;
  margin-right: 2.5%;
}
.row .post img {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
}
.row .post .title {
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: #252529;
}
.row .post .post_info {
  font-size: .75em;
  color: #8b8b9f;
  margin: 0.5em 0;
}

#newsletter {
  padding: 5em 0;
  text-align: center;
  background: #2a2a2e;
}
#newsletter .newsletter_inner {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}
#newsletter h2 {
  font-size: 1.75em;
  color: #FFFFFF;
}
#newsletter .sign_up_form {
  margin-top: 3em;
}
#newsletter .sign_up_form input[type="text"], #newsletter .sign_up_form input[type="email"] {
  width: 48%;
  margin: 0 .5%;
  height: 3.25em;
  border: none;
  outline: none;
  border-radius: .3em;
  background: #404043;
  padding: .5em 1.25em;
  font-size: .8em;
  color: #FFFFFF;
}
#newsletter .sign_up_form .button {
  border: none;
  outline: none;
  padding: 1em 4.5em;
  border-radius: 2em;
  background: #73e298;
  color: #FFFFFF;
  font-weight: 700;
  font-size: .9em;
  margin-top: 3em;
}

#main_footer {
  padding: 2.5em 0;
  text-align: center;
}
#main_footer .logo {
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 700;
}
#main_footer .logo span {
  font-weight: 300;
  color: #73e298;
}
#main_footer .copyright {
  color: #8b8b9f;
  font-size: .75em;
  margin-top: 1em;
}
#main_footer .links {
  display: inline;
}
#main_footer .links a {
  color: #8b8b9f;
  font-size: .75em;
  text-decoration: none;
  margin: 0 .5em;
}
#main_footer .links a:hover {
  color: #73e298;
}

@media only screen and (max-width: 768px) {
  #main_nav {
    display: none;
  }

  #main_nav.active {
    display: block;
    width: 100%;
  }
  #main_nav.active a {
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid #E9E9E9;
  }
  #main_nav.active a:last-child {
    border-bottom: none;
  }

  .menu {
    display: block;
    float: right;
  }
  .menu i {
    font-size: 1.5em;
    color: #252529;
  }

  #banner {
    padding: 3.5em 0;
  }
  #banner #poster {
    width: 250px;
  }
  #banner #poster .play_button {
    width: 60px;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
  }
  #banner #content {
    margin-left: 50px;
  }
  #banner #content .title {
    font-size: 1.5em;
  }
  #banner #content .ratings i {
    font-size: 1em;
  }
  #banner #content .description {
    font-size: .9em;
    line-height: 2;
  }
  #banner #content .info {
    font-size: .7em;
    font-weight: 700;
    margin-top: 2em;
  }
  #banner #content .info span {
    margin: 0 .25em;
  }

  #top_movies, #top_shows {
    padding: 3em 0;
  }
  #top_movies header, #top_shows header {
    padding: 0 0 1.5em 1.25%;
  }
  #top_movies header h2, #top_shows header h2 {
    font-size: 1.5em;
  }
  #top_movies header .view_more, #top_shows header .view_more {
    margin: .75em 2.25% 0 0;
  }

  .row .post {
    width: 30.6%;
    margin-right: 0 1.25% 2em 1.25%;
  }
  .row .post .title {
    font-size: 1em;
    margin: .5em 0 0 0;
  }
  .row .post .post_info {
    font-size: .65em;
  }
}
@media only screen and (max-width: 575px) {
  #banner #banner_content_wrapper {
    display: block;
  }
  #banner #banner_content_wrapper #poster {
    width: 250px;
    float: none;
    display: block;
    margin: 0 auto;
  }
  #banner #banner_content_wrapper #content {
    width: 100%;
    margin: 1em auto 0 auto;
  }

  .row .post {
    width: 250px;
    margin: 0 auto 2em auto;
    float: none;
  }

  #top_movies, #top_shows {
    margin-bottom: 2em;
  }

  #newsletter {
    padding: 3em 0;
  }
  #newsletter h2 {
    font-size: 1.35em;
  }
  #newsletter .sign_up_form {
    margin-top: 2em;
  }
  #newsletter .sign_up_form input input[type="text"], #newsletter .sign_up_form input input[type="email"] {
    width: 90%;
    margin-bottom: 1em;
  }
  #newsletter .sign_up_form input .button {
    margin-top: 2em;
  }
}